{
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "singleQuote": false,
  "endOfLine": "auto",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@root/(.*)$",
    "^@/app/(.*)$",
    "^@types$",
    "^@/assets/(.*)$",
    "^@/common/(.*)$",
    "^@/components/(.*)$",
    "^@/i18n/(.*)$",
    "^@/middlewares/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/stores/(.*)$",
    "^@/styles/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
